/* Propriétés styles générales */

#app {
    background-color: #ba3011;
    flex-direction: row;
    border: 1px solid black;
    
}
#entete , #notes , #tasks , #tags , #entete2 , #notes2 , #tasks2 , #tags2 , #entete3 , #notes3 , #tasks3 , #tags3{
    background-color: #f57b42;
    border: 1px dashed black;
    margin: 20px;
    padding: 5px;
}

/* Styles des div */

#entete , #entete2 , #entete3{
    display: flex;
    flex-direction: row;
}

#notes , #notes2 , #notes3 {
    width:50%;
}

#tasks , #tasks2 , #tasks3 {
    width:50%;
}

#papa , #papa2 , #papa3 {
    display: flex;
    justify-content: space-around;
}

#Tags , #Tags2 , #Tags3 {
    display: flex;
    justify-content: center;
}

/* Styles des éléments */

p {
    display: flex;
    margin: 10px;
    border: 1px solid black;
    justify-content: center;
}
